<!DOCTYPE html>  
<html lang="hu">  
<head>  
   <meta charset="UTF-8">  

   <meta name="viewport" content="width=device-width, initial-scale=1.0">  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">  
   <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">  
   <link rel="icon" href="https://bartokdance.hu/wp-content/uploads/2025/02/unnamed.png" type="image/x-icon">  
   <title>Bejelentkezés</title>  
   <style>  
       .custom-bg {  
           background-color: #2d336b;  
       }  

       .custom-font-color {  
           color: #2d336b;  
       }  
   </style>  
</head>  
<body style="background-color: #f5f5f5">  
<script>
    <% if (typeof error !== 'undefined' && error == '1') { %>
        alert('Hibás e-mail vagy jelszó!');
    <% } %>
</script>
   <nav class="navbar navbar-expand-lg custom-bg">  
       <div class="container-fluid">  
           <ul class="navbar-nav me-auto">  
           </ul>  
           <div class="me-auto">  
               <p class="text-white text-decoration-none" style="font-size:24px; margin-bottom: 2px">ÜDVÖZÖLJÜK!</p>  
           </div>  
       </div>  
   </nav>  


   <div class="container text-center" style="margin-top: 150px">  
       <div class="row">  
           <div class="col">  

           </div>  
           <div class="col">  
               <p class="fw-bold custom-font-color"  style="font-size:25px">BEJELENTKEZÉS</p>  
               <form method="POST" action="/login">  
                   <div class="row mb-3">  
                       <label for="inputEmail3" class="col-sm-2 col-form-label">E-mail:</label>  
                       <div class="col-sm-10">  
                           <input type="text" class="form-control" id="email" name="email">  
                       </div>  
                   </div>  
                   <div class="row mb-3">  
                       <label for="inputPassword3" class="col-sm-2 col-form-label">Jelszó:</label>  
                       <div class="col-sm-10">  
                           <input type="password" class="form-control" id="password" name="password">  
                       </div>  
                   </div>  
                   <button type="submit" class="btn btn-primary custom-bg">Bejelentkezés</button>  
               </form>  
           </div>  
           <div class="col">  

           </div>  
       </div>  
   </div>  

  <%- include ('footer') %>  
</body>  
</html>
